body {
    font-family: 'Noto Sans', sans-serif;
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

table, th, td {
    border: 1px solid black;
}

table {
    margin-bottom: 0.3rem;
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 1rem;
}

button {
    background: none;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 0.7rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: 300ms ease;
    outline: none;
    margin: 0 30%;
    margin-bottom: 5rem;
}

p   {
    text-align: right;
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    padding-right: 0;
}

button:hover {
    border: none;
    cursor: pointer;
    color: white;
    background-color: gray;
}
